<ion-card color="dark">
  <ion-card-header>
    <ion-card-subtitle>
      <span class="text-primary"> {{i+1}} </span>
      <span class="noticia-source-name"> {{item.source.name}} </span>
    </ion-card-subtitle>

    <div class="noticia-more ">

      <ion-button fill="clear" (click)="LanzarMenu()" >
        <ion-icon name="menu"></ion-icon>
      </ion-button>

    </div>

    <ion-card-title (click)="abrirNoticia()" >{{item.title}}</ion-card-title>
  </ion-card-header>

  <ion-img *ngIf="item.urlToImage" [src]="item.urlToImage"></ion-img>

  <ion-card-content>
    <p>{{item.description}}</p>
  </ion-card-content>
</ion-card>
